<% layout('layouts/boilerplate') %>
<h1>
    All Experiences
</h1>

<div>
    <button><a href="/experiences/new">Add New Experience</a></button>
</div>

<% for(let experience of experiences) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="<%= experience.image %>" alt="<%= experience.title %>">
            </div>
            <div class="col-md-8">
                <div class="car-body">
                    <h5 class="card-title"><%= experience.title %></h5>
                    <p class="card-text"><%= experience.description %></p>
                    <p class="card-text">
                        <small class="text-muted">Location: <%= experience.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/experiences/<%= experience._id %>">View Experience</a>
                </div>
            </div>
        </div>
    </div>
<% }; %>
