<% layout('layouts/Boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= experience.image %>" class="card-img-top" alt="<%= experience.title %>">
            <div class="card-body">
                <h5 class="card-title"><%= experience.title %></h5>
                <p class="card-text"><%= experience.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= experience.location %></li>
            </ul>
            <div class="card-body">
                <a class="text-white text-decoration-none btn btn-info card-link" href="/experiences/<%= experience._id %>/edit">Edit</a>
                <form class="d-inline" action="/experiences/<%= experience._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger card-link">Delete</button>
                </form>
            </div>
        </div>
        <h2>Leave a Review</h2>
        <form action="/experiences/<%= experience._id %>/reviews" method="POST" class="mb-3">
            <form class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" row="3"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>
