<% layout('layouts/Boilerplate') %>
    <h1>
        <%= experience.title %>
    </h1>
    <h2>
        <%= experience.location %>
    </h2>
    <p>
        <%= experience.description %>
    </p>
    <div>
        <button><a href="/experiences/<%= experience._id %>/edit">Edit</a></button>
    </div>
    <div>
        <form action="/experiences/<%= experience._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    <footer>
        <button><a href="/experiences">Back</a></button>
    </footer>

</body>

</html>